// https://boundlesstheatre.org.uk/15-25/projects/
// add class - image fade in
//
// https://www.sweet.studio/
// https://www.sweet.studio/team
// <div class="graphical-element" style="height: 5vw; width: 10vw; fill: rgb(0, 242, 198); left: auto; right: 2vw; top: -5vh; bottom: auto; mix-blend-mode: normal; transform: translate(0px, 24.45px) rotate(40deg);">
// <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 53 26.5" style="">
// <g><path class="st0" d="M53,0c0,14.6-11.9,26.5-26.5,26.5S0,14.6,0,0"></path></g>
// </svg>
// </div>
// changing translate and rotate properties for animating
//
// https://greatjonesgoods.com ->
// data-parallax='{"y" : -180, "smoothness": 5}' ->
// https://github.com/alumbo/jquery.parallax-scroll

// .scroll-block {
//     opacity: 0;
//     -webkit-transition: .75s ease-out;
//     transition: .75s ease-out;
//     -webkit-transform: translateY(150px);
//     -ms-transform: translateY(150px);
//     transform: translateY(150px);
// }
// .scroll-block.slow {
//     -webkit-transform: translateY(190px);
//     -ms-transform: translateY(190px);
//     transform: translateY(190px);
// }
// .scroll-block.slower {
//     -webkit-transform: translateY(230px);
//     -ms-transform: translateY(230px);
//     transform: translateY(230px);
// }
// .scroll-block.in-view {
//     opacity: 1;
//     -webkit-transform: translateY(0);
//     -ms-transform: translateY(0);
//     transform: translateY(0);
// }

.before-fadeinup
  opacity 0
  transform translate3d(0, 150px, 0)

.before-fadeinup-slow
  opacity 0
  transform translate3d(0, 190px, 0)

.before-fadeinup-slower
  opacity 0
  transform translate3d(0, 230px, 0)

.fadeinup
  opacity 1
  transform translate3d(0, 0, 0)
  transition all .75s ease-out
  // transition all 2s cubic-bezier(0.39, 0.575, 0.565, 1)

.before-fadein, .fade-enter
  opacity 0

.fadein
  opacity 1
  transition opacity 0.5s ease-out

.fadein-slow
  opacity 1
  transition opacity 0.5s ease-out

.fade-enter-active
  transition opacity 0.5s ease-out

.before-zoomin
  opacity 0
  transform scale3d(0.3, 0.3, 0.3)

.zoomin
  opacity 1
  transform scale3d(1, 1, 1)
  transition all .75s cubic-bezier(.62,.02,.41,1.47)

.smooth-parallax
  transition transform .1s ease-out
  position relative
  z-index 90

.bg-animate
  // transition background-color 1.5s ease-out
  transition background .75s cubic-bezier(.62,.02,.41,1.47)

.fadein-transition
  &-enter
    opacity 0

  &-enter-active, &-leave, &-leave-active
    // transition $primary-transition
    transition 0.25s ease-in-out .2s

  &-leave-to
    opacity 0

.fadeinup-transition
  &-enter
    opacity 0
    transform translateY(150px)

  &-enter-active, &-leave, &-leave-active
    // transition $primary-transition
    transition  .75s ease-in-out

  &-leave-to
    opacity 0

.fadeinup-delay-transition
  &-enter
    opacity 0
    transform translateY(150px)

  &-enter-active, &-leave, &-leave-active
    // transition $primary-transition
    transition  .75s ease-in-out .8s

  &-leave-to
    opacity 0
