body
  font-family $body-font-family
  font-weight normal
  line-height 1.75
  letter-spacing 0.3px
  color var(--charcoal)

h1,h2,h3,h4
  letter-spacing 0.3px
  font-weight normal
  font-family $body-font-family
h1
  line-height 1.18
  font-size 2em
h2
  font-family $body-font-family-medium
  line-height normal
  font-weight 500
  font-size 1.5em
h3
  font-family $body-font-family-medium
  line-height 1.11
  font-weight 500
  font-size 1.1666666666666667em
h4
  line-height 1.11
  font-weight 300
  font-size 1.1666666666666667em
h5
  font-weight 500
  font-size 1em

@media (min-width: 600px)
  h1
    line-height 1.33
    font-size 2.7142857142857144em
  h2
    font-family $body-font-family-medium
    font-size 1.7142857142857142em
  h3
    font-family $body-font-family-medium
    font-size 1.286em
  h4
    font-size 1.286em

a
  font-family $body-font-family-medium
  font-size 1.167em
  line-height normal
  letter-spacing .3px
  font-weight normal
  color var(--blue)
  &:hover
    color var(--blue_hover)
  &.link-small
    font-size 1em
  @media (min-width 600px)
    font-size 1em
p
  font-size 1.167em
  font-weight 300
  line-height 1.75
  margin 0
  @media (min-width 600px)
    font-size 1.143em

.app-html-text
  > h1,
  > h2,
  > h3,
  > h4
    margin 24px 0

// HELPERS
// ============================================================
.app-text
  &-light
    font-family $body-font-family
    letter-spacing .3px
    line-height 1.75
    font-size 1.143em
    &.small
      font-size 1em
  &-mono
    font-size 1.2857142857142858em
    font-family $body-font-family-mono
    line-height 1.67
    letter-spacing -0.5px
  &-medium
    font-family $body-font-family-medium
    font-weight normal
    font-size 1.143em
    &.small
      font-size 1em
// Fonts
.font--light
  font-family $body-font-family !important
.font--medium
  font-family $body-font-family-medium !important
.font--mono
  font-family $body-font-family-mono !important
// Color
.text--black
  color #000000 !important
.text--white
  color #FFFFFF !important
.text--charcoal
  color var(--charcoal) !important
.text--grey_1
  color var(--grey_1) !important
.text--grey_2
  color var(--grey_2) !important
// Size
.text-small
  font-size 1rem
