// ============================================================
// Vuetify variables
// ============================================================

$body-font-family = 'BrooklynSamuelsFive-Light', monospace
$body-font-family-medium = 'BrooklynSamuelsFive-Medium', monospace
$body-font-family-mono = monospace

$heading-font-family = $body-font-family-medium

$color-pack = false // Let's save 30k

// Button
// ============================================================
$button-height = 48px
$button-large-height = 64px
$button-text-transform = none
$button-font-size = 1.2857142857142858rem

// Headings
// ============================================================
$headings = {
  h1: { size: 112px, weight: 300, line-height: 1, letter-spacing: -.04em, font-family: $heading-font-family },
  h2: { size: 56px, weight: 400, line-height: 1.35, letter-spacing: -.02em, font-family: $heading-font-family },
  h3: { size: 1.7142857142857142rem, weight: normal, line-height: 48px, letter-spacing: normal, font-family: $heading-font-family },
  h4: { size: 2.7142857142857144rem, weight: normal, line-height: 40px, letter-spacing: normal, font-family: $heading-font-family },
  h5: { size: 1.2857142857142858rem, weight: 400, line-height: 32px, letter-spacing: normal, font-family: $heading-font-family },
  h6: { size: 20px, weight: 500, line-height: 1, letter-spacing: .02em, font-family: $heading-font-family },
  subheading: { size: 16px, weight: 400 },
  body-2: { size: 14px, weight: 500 },
  body-1: { size: 14px, weight: 400 },
  caption: { size: 12px, weight: 400 },
  button: { size: 14px, weight: 500 }
}

// Base
$app-box-shadow = 0 3px 3px 0 var(--grey_3)
