// LABEL
// =========================================================================
.app-label
  position relative
  display block
  margin-bottom 8px
  font-size 1.1428571428571428rem
  color var(--charcoal)
  &.error--text
    webkit-animation: shake 0.6s cubic-bezier(0.25, 0.8, 0.5, 1)
    animation: shake 0.6s cubic-bezier(0.25, 0.8, 0.5, 1)
.v-radio.accent--text
  .v-label
    color var(--black)
.error--text.is-invalid
  webkit-animation: shake 0.6s cubic-bezier(0.25, 0.8, 0.5, 1)
  animation: shake 0.6s cubic-bezier(0.25, 0.8, 0.5, 1)
.v-radio
  .v-label
    font-size 1rem

// CHECKBOX
// =========================================================================
.checkbox-ma-0
  .v-input__slot
    margin 0 !important
