.v-menu__content
  &.menuable__content__active:not(.v-autocomplete__content)
    border-top 1px solid var(--grey_1)
  .v-list
    padding 25px 20px 25px
  .v-list__tile
    font-family $body-font-family
    font-size 1rem
    height 36px
    color var(--charcoal)
    &--link:hover
      background transparent !important
      color var(--blue_hover)
  .v-picker.v-card.v-picker--date
    width 100%
