.v-textarea
  &.v-text-field--box,
  &.v-text-field--enclosed
    .v-text-field__prefix,
    textarea
      margin-top: 0 !important
  &.v-textarea--editing
    .v-input__slot
      border-color transparent !important
      padding 0 !important
      &:hover
        border-color transparent !important
      textarea
        color var(--charcoal)
